<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPlatform</key>
	<dict>
		<key>attributes</key>
		<dict>
			<key>boundingBox</key>
			<string>youngRuffRight</string>
			<key>attackHitBox</key>
			<string>sword</string>
			<key>hitPoints</key>
			<integer>10</integer>
			<key>baseAttack</key>
			<string>sword</string>
			<key>specialAttack</key>
			<string>dash</string>
			<key>position</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>direction</key>
			<array>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>gravity</key>
			<integer>5</integer>
		</dict>
		<key>listOfAnimations</key>
		<dict>
			<key>background</key>
			<string>tundra_background.mp3</string>
			<key>boss</key>
			<string>tundra_boss.mp3</string>
		</dict>
		<key>listOfSoundFX</key>
		<dict>
			<key>background</key>
			<string>barrens_background.mp3</string>
			<key>boss</key>
			<string>barrens_boss.mp3</string>
		</dict>
	</dict>
</dict>
</plist>
