<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<dict>
		<key>tutorial_background</key>
		<string>tutorial_background.mp3</string>
	</dict>
	<key>boss</key>
	<dict>
		<key>tutorial_boss</key>
		<string>tutorial_boss.mp3</string>
	</dict>
	<key>victory</key>
	<dict>
		<key>tutorial_victory</key>
		<string>tutorial_victory.mp3</string>
	</dict>
</dict>
</plist>
