<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level 1</key>
	<dict>
		<key>actors</key>
		<dict>
			<key>CYoungRuff</key>
			<dict>
				<key>CActor</key>
				<dict>
					<key>bleeeblooblah</key>
					<string></string>
					<key>kljkljkl</key>
					<string></string>
					<key>positon</key>
					<string></string>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>30</integer>
						<key>y</key>
						<integer>50</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>assets</key>
		<dict/>
		<key>audio</key>
		<dict>
			<key>background</key>
			<string></string>
			<key>boss</key>
			<string></string>
			<key>victory</key>
			<string></string>
		</dict>
		<key>graphics</key>
		<dict/>
	</dict>
</dict>
</plist>
