<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{602,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,36}}</string>
                <key>sourceSize</key>
                <string>{602,36}</string>
            </dict>
            <key>platform-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,36},{602,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,111}}</string>
                <key>sourceSize</key>
                <string>{602,111}</string>
            </dict>
            <key>platform-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{602,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,113}}</string>
                <key>sourceSize</key>
                <string>{602,113}</string>
            </dict>
            <key>platform-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{602,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,179}}</string>
                <key>sourceSize</key>
                <string>{602,179}</string>
            </dict>
            <key>platform-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,439},{602,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,123}}</string>
                <key>sourceSize</key>
                <string>{602,123}</string>
            </dict>
            <key>platform-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,562},{602,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,117}}</string>
                <key>sourceSize</key>
                <string>{602,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platforms-sprite-sheet-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d0706a82276ae5da9a358c4869f9807$</string>
            <key>textureFileName</key>
            <string>platforms-sprite-sheet-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
