<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,19}}</string>
                <key>sourceSize</key>
                <string>{302,19}</string>
            </dict>
            <key>platform-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,19},{302,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,57}}</string>
                <key>sourceSize</key>
                <string>{302,57}</string>
            </dict>
            <key>platform-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{302,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,58}}</string>
                <key>sourceSize</key>
                <string>{302,58}</string>
            </dict>
            <key>platform-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{302,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,91}}</string>
                <key>sourceSize</key>
                <string>{302,91}</string>
            </dict>
            <key>platform-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,225},{302,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,63}}</string>
                <key>sourceSize</key>
                <string>{302,63}</string>
            </dict>
            <key>platform-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{302,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,60}}</string>
                <key>sourceSize</key>
                <string>{302,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platforms-sprite-sheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0c33fae2ccf716c4c72917124a7dfa$</string>
            <key>textureFileName</key>
            <string>platforms-sprite-sheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
