<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,38}}</string>
                <key>sourceSize</key>
                <string>{604,38}</string>
            </dict>
            <key>platform-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{604,103}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{604,103}}</string>
                <key>sourceSize</key>
                <string>{604,113}</string>
            </dict>
            <key>platform-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{604,105}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{604,105}}</string>
                <key>sourceSize</key>
                <string>{604,115}</string>
            </dict>
            <key>platform-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{604,175}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{604,175}}</string>
                <key>sourceSize</key>
                <string>{604,181}</string>
            </dict>
            <key>platform-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{604,107}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{604,107}}</string>
                <key>sourceSize</key>
                <string>{604,125}</string>
            </dict>
            <key>platform-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{604,97}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{604,97}}</string>
                <key>sourceSize</key>
                <string>{604,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platforms-sprite-sheet-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7afbf94f14432d96e9966252b37a571c$</string>
            <key>textureFileName</key>
            <string>platforms-sprite-sheet-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
