<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,21}}</string>
                <key>sourceSize</key>
                <string>{304,21}</string>
            </dict>
            <key>platform-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{304,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{304,55}}</string>
                <key>sourceSize</key>
                <string>{304,59}</string>
            </dict>
            <key>platform-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{304,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{304,56}}</string>
                <key>sourceSize</key>
                <string>{304,60}</string>
            </dict>
            <key>platform-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{304,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{304,89}}</string>
                <key>sourceSize</key>
                <string>{304,93}</string>
            </dict>
            <key>platform-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{304,53}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{304,53}}</string>
                <key>sourceSize</key>
                <string>{304,65}</string>
            </dict>
            <key>platform-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{304,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{304,50}}</string>
                <key>sourceSize</key>
                <string>{304,62}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,306},{21,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,304}}</string>
                <key>sourceSize</key>
                <string>{21,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platforms-sprite-sheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e1977a2ab67c556781ff1a264ab76d3$</string>
            <key>textureFileName</key>
            <string>platforms-sprite-sheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
