<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ruff-jump-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1092},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1092},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1074},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1074},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1074},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1074},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1074},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1074},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,810},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,810},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,810},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,810},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,810},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,810},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,810},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,792},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,792},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,528},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-ready-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1356},{232,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,282}}</string>
                <key>sourceSize</key>
                <string>{232,282}</string>
            </dict>
            <key>ruff-run-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,528},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,264},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,264},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ruff-sprite-sheet-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e7bf028dabde546421ab57364d8cc44$</string>
            <key>textureFileName</key>
            <string>ruff-sprite-sheet-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
