<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ruff-jump-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{113,134}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{113,134}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{101,138}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{101,138}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{111,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{111,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{111,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{111,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{111,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,138},{115,140}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{117,132}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,132}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,278},{121,126}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,126}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,278},{121,126}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,126}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,278},{121,126}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,126}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,278},{121,126}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,126}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,278},{121,126}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,126}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,278},{121,126}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,126}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{119,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,410},{117,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,138}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-jump-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{119,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,138}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>ruff-ready-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,550},{115,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,140}}</string>
                <key>sourceSize</key>
                <string>{115,140}</string>
            </dict>
            <key>ruff-run-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{158,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,131}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
            <key>ruff-run-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,821},{162,121}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,121}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
            <key>ruff-run-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{164,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,131}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
            <key>ruff-run-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1073},{152,131}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{152,131}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
            <key>ruff-run-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1204},{152,127}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{152,127}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
            <key>ruff-run-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1331},{152,121}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{152,121}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
            <key>ruff-run-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{156,125}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{156,125}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
            <key>ruff-run-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1577},{152,127}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{152,127}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ruff-sprite-sheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{238,1704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:846a5aa41bbe99bd436fe58a4cd8298a$</string>
            <key>textureFileName</key>
            <string>ruff-sprite-sheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
