<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snail-attack-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,304},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,304},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,304},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,304},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1041},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1041},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1041},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1041},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1041},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1778},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1778},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1778},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1778},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1778},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2515},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2515},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2515},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,2515},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-walk-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2515},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3252},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,3252},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,3252},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,3252},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,3252},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,3252},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,3252},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,3252},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3528},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,3528},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,3528},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,3528},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,3528},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2515},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snail-sprite-sheet-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2105,3802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eab0afa886038f3c851f8fbdc66b6cf$</string>
            <key>textureFileName</key>
            <string>snail-sprite-sheet-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
