<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snail-attack-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,154},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,154},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,154},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,154},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,525},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,525},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,525},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,525},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,525},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,896},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,896},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,896},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,896},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,896},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1267},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1267},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1267},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1267},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-walk-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1267},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1638},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1638},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1638},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1638},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1638},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1638},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1638},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1638},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1778},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1778},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1778},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1778},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1778},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1267},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snail-sprite-sheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1065,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:391dc15c353c8800be116f5de74f1a56$</string>
            <key>textureFileName</key>
            <string>snail-sprite-sheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
