<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owl-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,252}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>owl-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{210,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,252}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>owl-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{210,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,252}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>owl-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{210,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,252}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>owl-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{210,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,252}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>owl-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,0},{210,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,252}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>owl-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,0},{210,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,252}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>owl-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{210,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,252}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>owl-dive-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,254},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,254},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,254},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,254},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,254},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,254},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,678},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,678},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,678},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,678},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,678},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,678},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1102},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1102},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1102},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-dive-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1102},{210,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,422}}</string>
                <key>sourceSize</key>
                <string>{210,422}</string>
            </dict>
            <key>owl-hover-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1102},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1102},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1102},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1526},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1526},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1526},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1526},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1526},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1526},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1526},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>owl-hover-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1526},{210,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,143}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>owl-sprite-sheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1484,1669}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5857b58578fd02fe6c73a24ef4ff78a1$</string>
            <key>textureFileName</key>
            <string>owl-sprite-sheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
