<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower-attack-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,141},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,141},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,141},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-attack-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>flower-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,141},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,141},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,141},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,141},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,549},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,549},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,549},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,549},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,549},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,549},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,549},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
            <key>flower-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,549},{202,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,406}}</string>
                <key>sourceSize</key>
                <string>{202,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flower-sprite-sheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1632,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f0ee042733f9a2f471981e8a11fa2c9$</string>
            <key>textureFileName</key>
            <string>flower-sprite-sheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
