<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower-attack-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2244,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2244,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2618,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2618,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,278},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,278},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,278},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-attack-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,276}}</string>
                <key>sourceSize</key>
                <string>{372,276}</string>
            </dict>
            <key>flower-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,278},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,278},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2302,278},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2705,278},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1089},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1089},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1089},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1089},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1089},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,1089},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2418,1089},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
            <key>flower-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2821,1089},{401,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,809}}</string>
                <key>sourceSize</key>
                <string>{401,809}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flower-sprite-sheet-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{3224,1898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bebe84ee39d6435e55e6e930b156981$</string>
            <key>textureFileName</key>
            <string>flower-sprite-sheet-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
