<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ruff-attack-one-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-two-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,0},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,144},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,144},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,144},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,144},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,144},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,144},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,144},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,144},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,288},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,0},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-dash-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,288},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,288},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,288},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,437},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,437},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,586},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,586},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,586},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,586},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,735},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,735},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,735},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,884},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,884},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,884},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1033},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1033},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1033},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1182},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1182},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1182},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1331},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1331},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1331},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1331},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1331},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1331},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1331},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1331},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1331},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1475},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1475},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1475},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1475},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1475},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1475},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1475},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1475},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1475},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1619},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1619},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1619},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-jump-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1619},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-ready-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1763},{117,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,142}}</string>
                <key>sourceSize</key>
                <string>{117,142}</string>
            </dict>
            <key>ruff-run-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1763},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1763},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1763},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1763},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1763},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1763},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1763},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1763},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ruff-sprite-sheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1825,1905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d18a8614c9ba08ed3e04d1962b8208$</string>
            <key>textureFileName</key>
            <string>ruff-sprite-sheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
