<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ruff-attack-one-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2148,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2506,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2864,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-two-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3222,0},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,284},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,284},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,284},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,284},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,284},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,284},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2716,284},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3104,284},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,568},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3222,0},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-dash-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,568},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,568},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,568},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,862},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,862},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1156},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1156},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1156},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,1156},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1450},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1450},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,1450},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1744},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1744},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1744},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,1744},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2038},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2038},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,2038},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2332},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2332},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,2332},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2626},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2626},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2626},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2626},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,2626},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,2626},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2376,2626},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2772,2626},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3168,2626},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2910},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2910},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2910},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2910},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,2910},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,2910},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2376,2910},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2772,2910},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3168,2910},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3194},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,3194},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,3194},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-jump-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2168,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2413,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2413,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2413,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2413,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2413,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2413,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2658,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2903,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3148,3194},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-ready-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3478},{232,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,282}}</string>
                <key>sourceSize</key>
                <string>{232,282}</string>
            </dict>
            <key>ruff-run-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,3478},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,3478},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,3478},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,3478},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,3478},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,3478},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,3478},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2586,3478},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ruff-sprite-sheet-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{3612,3760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6ecda765e75fcfe716b3a4ac4f6ba00$</string>
            <key>textureFileName</key>
            <string>ruff-sprite-sheet-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
